.containerTools {
  display: flex;
  min-height: 100vh;
  background-color: #f9fafb;
}

.tools {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.containerManagement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
