.containerTools {
  display: flex;
  min-height: 100vh;
  background-color: #f9fafb;
}

.sidebarTools {
  width: 300px;
}

.tools {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.containerManagement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
