.sidebarContainer {
    background-color: #ffffff;
    width: 300px;
    height: 100vh;  
    border-right: 1px solid #e2e8f0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.logoText{
    font-weight:bold;
    font-size: 30px;
    color: #2A4ECA;
    width: 100%;
    overflow-wrap: break-word;
    padding: 20px;
    margin-right: auto;
    font-family:Arial, Helvetica, sans-serif;
}

.line {
    border-bottom: 1px solid #e2e8f0;
    width: 100%;
    margin-bottom: 5px;
}

.topContent{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.padding{
    padding: 20px;
    margin-top: auto;
}

.logoutButton {
    padding: 12px;
    background-color: #2A4ECA;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.containerItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
}