.container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
  color: #64748B;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2A4ECA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}