.containerHome {
  display: flex;
  min-height: 100vh;
  background-color: #f9fafb;
}

.card {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.estudante {
  font-weight: bold;
  font-size: 40px;
  color: rgb(0, 0, 0);
}

.welcomeText {
  margin-bottom: auto;
  color: #6a7282;
}

.sidebar {
  width: 300px;
}
